.container
  .pull-right
    = link_to 'QUERO MUDAR O BRASIL!', '/auth/facebook', class: 'btn btn-custom'

    %a.idea{href: '#'}
      Antes, quero entender a ideia e
      %br
      o objetivo central.

  .content
    .index
      %h1
        O povo brasileiro mostrou que está disposto
        %br
        à mudar nosso país. Faça parte do nosso manifesto.

      %h2 Brasil, mostra tua cara!

      %p Quem já mostrou a cara...

      - if @brazilians.any?
        %ul.brazilians
          - @brazilians.each do |brazilian|
            %li
              = image_tag brazilian.photo_url, alt: "Foto do perfil de #{brazilian.first_name}"

      - if @total_other_people > 0
        %p
          \...e mais
          %span.people
            = pluralize @total_other_people, 'pessoa', 'pessoas'
          no Brasil e no mundo.

        %a{href: '#'} Quero ver a lista completa.

    .disclaimer
      %h1 Disclaimer...
