%h1 Brasil, mostra tua cara!

= link_to 'QUERO MOSTRAR MINHA CARA!', '/auth/facebook'

%ul
  - @brazilians.each do |brazilian|
    %li
      = image_tag brazilian.photo_url
      = brazilian.name
      = brazilian.city
